<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinAppComercial.WIN.Properties.Settings.LuisAplicacionComercialConnectionString"
            connectionString="Data Source=LUISN\SQLEXPRESS;Initial Catalog=LuisAplicacionComercial;Persist Security Info=True;User ID=sa;Password=Talleres2306*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
